{% extends 'base.html' %}

{% block content %}
<main class="flex-1">

    <!-- SECCION HERO -->
    <header class="mx-auto max-w-6xl px-6 pt-24 pb-8">

        {% include 'components/hero_1.html' with datos=datos %}

    </header>

    <!-- SECCION BARRA DE FILTROS -->
    <section class="mx-auto max-w-6xl px-6 mb-12">
        
    </section>

    <!-- SECCION GRID DE BLOGS -->
    <section id="blogs" class="border-t border-gray-800/50 bg-[#020617]/50">

        <div class="max-w-6xl mx-auto px-4 py-8 flex flex-col gap-8 ">

            <!-- GRID -->
                
            

        </div>
        
    </section>

</main>
{% endblock %}