{% extends 'base.html' %}

{% block content %}

    <main class="flex-1">

        <!-- SECCION HERO -->
        <section id="hero" class="max-w-6xl mx-auto px-4 py-24 md:py-32">

            {% include 'components/hero_1.html' with datos=datos %}

        </section>

        <!-- SECCION STACK -->
        <section id="stack" class="border-t border-gray-800/50 bg-[#020617]/50">

            <div class="max-w-6xl mx-auto px-4 py-8 flex flex-col gap-8 ">

                <!-- ENCABEZADO DE SECCIÓN -->
                {% include 'components/section_title.html' with titulo='Stack tecnológico' link='' descripcion='Este es mi stack tecnológico.' %}
    
                <!-- GRID -->
                {% include 'components/grid_stack_tecnico.html' with stacks=stacks %}

            </div>
            
        </section>

        <!-- SECCION PROYECTOS -->
        <section id="proyectos" class="border-t border-gray-800/50 ">

            <div class="max-w-6xl mx-auto px-4 py-8 flex flex-col gap-8 ">

                <!-- ENCABEZADO DE SECCIÓN -->
                {% include 'components/section_title.html' with titulo='Proyectos Destacados' link='/proyectos/' descripcion='Descubre mis proyectos destacado.' %}
    
                <!-- GRID -->
                    
                {% include 'components/grid_proyectos.html' with proyecto=proyecto %}

            </div>
            
        </section>

        <!-- SECCION BLOGS -->
        <section id="blog" class="border-t border-gray-800/50 bg-[#020617]/50">
            
            <div class="max-w-6xl mx-auto px-4 py-8 flex flex-col gap-8 ">

                <!-- ENCABEZADO DE SECCIÓN -->
                {% include 'components/section_title.html' with titulo='Blosgs Destacados' link='/blog/' descripcion='Descubre mis blogs destacados.' %}
    
                <!-- GRID -->

            </div>
                
        </section>

    </main>

{% endblock %}